/* IMPORT CSS FROM GITHUB */
@import url("https://cdn.rawgit.com/MrRobotjs/Quiet/master/stylesheet.css");
/*
/* User Settings */
:root {
    --theme-name: "Discord Reborn";
    --online-color: #43b581;
    /* color for online status */
    --idle-color: #faa61a;
    /* color for idle status */
    --dnd-color: #f04747;
    /* color for dnd status */
    --offline-color: #636b75;
    /* color for offline status */
    --invisible-color: #747f8d;
    /* color for invisible status - Note this will only show for your own invisibility */
    --streaming-color: #643da7;
    /* color for streaming status */
}

/* Dark Mode Settings */

.app.theme-dark, .theme-dark, .theme-dark .theme-light, .theme-dark.popouts, .theme-light.popouts+.tooltips, .tooltips+.theme-dark {
    --primary-color: rgba(0,0,0,0.55);
    /* primary background color */
    --secondary-color: rgba(0,0,0,0.65);
    /* secondary background color */
    --tertiary-color: rgba(0,0,0,0.75);
    /* tertiary background color */
}
  
/* Light Mode Settings */
  
.app.theme-light, .theme-light, .theme-light .theme-light, .theme-light.popouts, .theme-light.popouts+.tooltips, .tooltips+.theme-light {
    --primary-color: rgba(0,0,0,0.2);
    /* primary background color */
    --secondary-color: rgba(0,0,0,0.3);
    /* secondary background color */
    --tertiary-color: rgba(0,0,0,0.45);
    /* tertiary background color */
}

.chat, 
.container-RYiLUQ, 
.container-2OU7Cz,
[class*="layer"],
[class*="layers-"] [class*="layer"] [class*="horizontal"][class*="container"],
.content,
.chat>.content,
.messages-wrapper .message-group, 
.wrapper-VSYYTS, 
.clipboardInputInner-oj8y-S, 
#friends, 
.activity-3NviKQ, 
.body-_3kd4C, 
.newsLink-SC025S:hover, 
.newsLink-SC025S,
.chat form [class*="inner"],
[class*="membersWrap"] [class*="members"] [class*="member"],
.news-XQhS0 .theme-dark .popout.popout-bottom:not(.no-arrow)[style*="z-index: 1000; overflow: hidden; visibility: visible;"] {
    background: transparent !important;
    background-color: transparent !important;
}